body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #a8c0ff, #4b134f);
  height: 100%;
  width: 100%;
}

.box-list-item {
  background-color: #7986CB;
  word-wrap: break-word;
}

.selected-box {
  background-color: #303F9F;
  color: white;
}

.App-intro {
  margin-top: 10px;
}

.box-detail, .notes-section {
  word-wrap: break-word;
  background-color: #7986CB;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

button {
  background-color:  #3F51B5;
  color: white;
}

.icon-span {
  margin-top: 100px;
}
